@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
    font-family: "Geist Variable";
    src: url("../fonts/GeistVF.ttf") format("truetype");
}

:root {
    /* Text Colors */

    /* Light */

    --primaryLightTextColor: #101828; /* Headings */
    --secondaryLightTextColor: #344054; /* Label&Section Headings */
    --tertiaryLightTextColor: #475467; /* Paragraph */
    --quaternaryLightTextColor: #667085; /* Footer */

    /* Dark */

    --primaryDarkTextColor: #f5f5f6; /* Headings */
    --secondaryDarkTextColor: #cecfd2; /* Label&Section Headings */
    --tertiaryDarkTextColor: #94969c; /* Paragraph */
    --quaternaryDarkTextColor: #94969c; /* Footer */

    --primaryBackgroundColor: #ffffff;
    --secondaryBackgroundColor: #000000;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem 0;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geist Variable", "Inter", sans-serif;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--primaryLightTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
    color: var(--secondaryLightTextColor);
}

a {
    text-decoration: none;
}

.pattern-bg {
    left: 15%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(
            to right,
            rgb(203 213 225) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
    background-size: 5rem 5rem;
    background-position: 0 0;
    animation: movePattern 60s linear infinite;
}

.pattern-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, white 75%);
    pointer-events: none;
    z-index: 2;
}

/* Animasi pergerakan background */
@keyframes movePattern {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 1000px;
    }
}

/* Konten utama */
.main-container {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;
}

/* Section */
.section-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2.4px;
    margin: 1rem 0 1rem;
}

/* Penyesuaian responsif */
@media screen and (max-width: 1280px) {
    .main-container {
        width: 85%;
    }

}

@media screen and (max-width: 768px) {
}

/* Logo and Nav Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-width: 0px 0px 0.5px;
    z-index: 99;
}

.nav ul {
    margin: 0 4rem;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    margin: 0 4rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    transition: 0.6s;
}

.logo a {
    color: var(--primaryLightTextColor);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: var(--quaternaryLightTextColor);
    font-weight: 500;
    transition: all 0.35s ease-in-out;
}

nav ul li a:hover {
    color: var(--secondaryLightTextColor);
    font-weight: 600;
    filter: drop-shadow(0 4px 14px #0000005a);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-2px);
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 32px;
    right: 36px;
}

/* Hero Section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 5;
}

/* Hero Right Container */

.hero-left {
    position: relative;
    z-index: 2;
}

.hero-badge {
    font-weight: 500;
    background-color: #f9fafb;
    color: var(--tertiaryLightTextColor);
    padding: 8px 16px;
    text-align: center;
    border: 1px solid;
    border-radius: 2rem;
    border-color: #eaecf0;
}

.hero-badge .dot {
    margin: 0 0.5rem 0 0;
    bottom: 2px;
    position: relative;
    align-items: center;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #7798bb;
}

.hero-title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -2.4px;
    margin: 1rem 0 1rem;
}

.hero-desc .tagline {
    font-style: italic;
}

.hero-buttons {
    display: inline-flex;
    gap: 1.2rem;
    margin: 1rem 0 0;
}

.hero-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: #000000;
    border-radius: 12px;
    font-weight: 700;
    color: var(--primaryDarkTextColor);
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.hero-button2 {
    position: relative;
    display: flex;
    padding: 12px 24px;
    border-color: transparent;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 700;
    color: var(--primaryLightTextColor);
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.hero-button:hover,
.hero-button2:hover {
    box-shadow: 0px 2.6px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.2px 5.3px rgba(0, 0, 0, 0.028),
        0px 11.6px 10px rgba(0, 0, 0, 0.035),
        0px 20.8px 17.9px rgba(0, 0, 0, 0.042),
        0px 38.9px 33.4px rgba(0, 0, 0, 0.05), 0px 93px 80px rgba(0, 0, 0, 0.07);
    transform: translateY(-3px);
}

.hero-button:hover {
    color: var(--secondaryDarkTextColor);
}

.hero-button2:hover {
    color: var(--secondaryLightTextColor);
}

.hero-button:active,
.hero-button2:active {
    scale: 0.95;
}

.hero-button:active {
    color: var(--quaternaryDarkTextColor);
}

.hero-button2:active {
    color: var(--quaternaryLightTextColor);
    box-shadow: 0 0 0 1px #000000;
}

/* Hero Right Container */

.hero-right {
    display: flex;
    justify-content: center;
    z-index: 2;
}

.hero-right img {
    width: 100%;
    position: relative;
    left: 15%;
}

/* Sejarah Section */

#sejarah {
    background-color: black;
    z-index: 3;
    padding: var(--sectionPadding);
}

.sejarah-title {
    color: var(--primaryDarkTextColor);
    text-align: center;
}

.sejarah-desc {
    color: var(--secondaryDarkTextColor);
    text-align: justify;
}
